<a href="https://colab.research.google.com/github/brainchild-vc/Coursera_Capstone/blob/master/Capstone_Project_Paris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Paris: clustering neighborhoods by Clothing store category (Week 1)

#### Part 1 - description of the problem and a discussion of the background

Paris is one of the fashion capitals of this world. Many fashion retailers that want to open a boutique in Paris will want to know where the best location could be for their specific fashion business and category.

Therefore the goal of this analysis will be to:
- cluster neighborhoods by category of fashion retailers

This analysis will show clusters of specific retail categories. Retailers will be able to see, which area should be best for opening a store with a given clothing type, e.g. Women's Clothing, Shoes etc.

#### Part 2 - description of the data and how it will be used to solve the problem

For the above mentioned goal of this analysis we will use the following data sources:

1. Foursquare Places API: through Foursquare we will get names, locations and retail categories for all Clothings stores in Paris
2. https://en.wikipedia.org/wiki/Arrondissements_of_Paris : from this page we will read out names, population density and any other information about the arrondissements of Paris that might be helpful for our analysis

# Paris: clustering neighborhoods by Clothing store category (Week 2)

#### Part 1a - first we create a dataframe from our Paris Wikipage

In [0]:
import pandas as pd
import numpy as np

In [0]:
# read Wikipedia HTML

import requests
website_url = requests.get('https://en.wikipedia.org/wiki/Arrondissements_of_Paris').text

from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
# print(soup.prettify())

In [95]:
# read table and assign to dataframe
postal_codes = soup.find('table',{'class':'wikitable sortable'})
df = pd.read_html(str(postal_codes))[0]

df.head()

  Arrondissement (R for Right Bank, L for Left Bank)  ...                       Mayor
0                                        1st (Ier) R  ...  Jean-François Legaret (LR)
1                                        2nd (IIe) R  ...     Jacques Boutault (EELV)
2                                       3rd (IIIe) R  ...       Pierre Aidenbaum (PS)
3                                        4th (IVe) R  ...             Ariel Weil (PS)
4                                         5th (Ve) L  ...      Florence Berthout (LR)

[5 rows x 8 columns]

# Now we clean the table
1) We need to fill in the zip code for each arrondissement. Since the number of the arrondissement is indicated by the last two digits in most Parisian postal codes (75001 up to 75020), we can just fill in the zip code

2) We will drop columns 0, 6 and 7 since we don't need them for our analysis

In [96]:
# clean table
# The number of the arrondissement is indicated by the last two digits in most Parisian postal codes (75001 up to 75020)
df['postal_code'] = range(75001, 75001+len(df))

# now we drop all unneccassry columns
df = df.drop(df.columns[[0, 6, 7]], axis = 1)

# and we will rename one of the columns
df = df.rename(columns={'Name': 'Neighborhood'})
df

           Neighborhood  ... postal_code
0                Louvre  ...       75001
1                Bourse  ...       75002
2                Temple  ...       75003
3        Hôtel-de-Ville  ...       75004
4              Panthéon  ...       75005
5            Luxembourg  ...       75006
6        Palais-Bourbon  ...       75007
7                Élysée  ...       75008
8                 Opéra  ...       75009
9              Entrepôt  ...       75010
10           Popincourt  ...       75011
11              Reuilly  ...       75012
12             Gobelins  ...       75013
13         Observatoire  ...       75014
14            Vaugirard  ...       75015
15                Passy  ...       75016
16  Batignolles-Monceau  ...       75017
17     Butte-Montmartre  ...       75018
18      Buttes-Chaumont  ...       75019
19         Ménilmontant  ...       75020

[20 rows x 6 columns]

# Part 1b - now we add longitude/latitude to our dataframe using PGeocode, which will convert our zip codes to geo locations

In [97]:
!pip install pgeocode
import pgeocode

Requirement already satisfied: pgeocode in /usr/local/lib/python3.6/dist-packages (0.2.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pgeocode) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pgeocode) (1.18.4)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pgeocode) (2.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pgeocode) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->pgeocode) (1.12.0)

In [98]:
postal = df["postal_code"].astype(str).values.tolist()
nomi = pgeocode.Nominatim('fr')
latlon = nomi.query_postal_code(postal)
latlon = latlon.drop(latlon.columns[[1, 2, 3, 4, 5, 6, 7, 8, 11]], axis = 1)
latlon["postal_code"] = latlon["postal_code"].astype(int)
latlon

    postal_code  latitude  longitude
0         75001   48.8592    2.34525
1         75002   48.8655    2.34570
2         75003   48.8637    2.35515
3         75004   48.8601    2.34975
4         75005   48.8448    2.34795
5         75006   48.8493    2.33940
6         75007   48.8565    2.33490
7         75008   48.8763    2.33355
8         75009   48.8718    2.34435
9         75010   48.8709    2.35245
10        75011   48.8574    2.36415
11        75012   48.8412    2.36820
12        75013   48.8322    2.35245
13        75014   48.8331    2.33760
14        75015   48.8412    2.32455
15        75016   48.8637    2.31285
16        75017   48.8835    2.33535
17        75018   48.8925    2.34660
18        75019   48.8817    2.36550
19        75020   48.8646    2.37360

# now we merge the list of geo locations with our list of arrondissements:

In [99]:
df = pd.merge(df, latlon, how='left', left_on='postal_code', right_on='postal_code')
df

           Neighborhood  ... longitude
0                Louvre  ...   2.34525
1                Bourse  ...   2.34570
2                Temple  ...   2.35515
3        Hôtel-de-Ville  ...   2.34975
4              Panthéon  ...   2.34795
5            Luxembourg  ...   2.33940
6        Palais-Bourbon  ...   2.33490
7                Élysée  ...   2.33355
8                 Opéra  ...   2.34435
9              Entrepôt  ...   2.35245
10           Popincourt  ...   2.36415
11              Reuilly  ...   2.36820
12             Gobelins  ...   2.35245
13         Observatoire  ...   2.33760
14            Vaugirard  ...   2.32455
15                Passy  ...   2.31285
16  Batignolles-Monceau  ...   2.33535
17     Butte-Montmartre  ...   2.34660
18      Buttes-Chaumont  ...   2.36550
19         Ménilmontant  ...   2.37360

[20 rows x 8 columns]

# Part 1c - Cluster analysis of Paris arrondissements

In [0]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

## Getting coordinates of Paris

In [101]:
from geopy.geocoders import Nominatim

address = 'Paris, France'

geolocator = Nominatim(user_agent="fr_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Paris are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Paris are 48.8566969, 2.3514616.

## Let's visualise all neighborhoods on a map

In [102]:
# create map of Paris using latitude and longitude values
map_paris = folium.Map(location=[latitude, longitude], zoom_start=13)
# zip = [[df['latitude']], [df['longitude']], [df['Name']]]

# add markers to map 
for lat, lng, label in zip(df['latitude'], df['longitude'], df['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_paris) 
    
map_paris

In [0]:
#@title
CLIENT_ID = 'QSO024GQN1CYLNY22I51MDHXMLVYQJXAHMOCJOWVAQTVECVY' # your Foursquare ID
CLIENT_SECRET = 'S3IOYL1B5SEHONTTYCBRFG2HXUONHSGMDP2TLE15R0RQXVSO' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

# Here we will define the venue category to be only clothing stores. This will ensure that Foursquare API will only return venues that match this category:

In [0]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
category = "4bf58dd8d48988d103951735" # we only want Clothing Stores

# for a list of all categories and their IDs, please see here: https://developer.foursquare.com/docs/build-with-foursquare/categories

## We create a function to get name, location and category of all clothing stores in Paris

In [0]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            category)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

## now we create a DataFrame containing the above data

In [107]:
paris_venues = getNearbyVenues(names=df['Neighborhood'],
                                   latitudes=df['latitude'],
                                   longitudes=df['longitude']
                                  )

Louvre
Bourse
Temple
Hôtel-de-Ville
Panthéon
Luxembourg
Palais-Bourbon
Élysée
Opéra
Entrepôt
Popincourt
Reuilly
Gobelins
Observatoire
Vaugirard
Passy
Batignolles-Monceau
Butte-Montmartre
Buttes-Chaumont
Ménilmontant

## Let's check the size of the resulting dataframe

In [108]:
print(paris_venues.shape)
paris_venues.head()

(614, 7)

  Neighborhood  Neighborhood Latitude  ...  Venue Longitude  Venue Category
0       Louvre                48.8592  ...         2.343541  Clothing Store
1       Louvre                48.8592  ...         2.346815  Clothing Store
2       Louvre                48.8592  ...         2.344772  Clothing Store
3       Louvre                48.8592  ...         2.347513  Clothing Store
4       Louvre                48.8592  ...         2.350234   Women's Store

[5 rows x 7 columns]

## And now we check how many venues were returned for each neighborhood

In [109]:
paris_venues.groupby('Neighborhood').count()

                     Neighborhood Latitude  ...  Venue Category
Neighborhood                                ...
Batignolles-Monceau                     22  ...              22
Bourse                                  53  ...              53
Butte-Montmartre                         2  ...               2
Buttes-Chaumont                          4  ...               4
Entrepôt                                13  ...              13
Gobelins                                32  ...              32
Hôtel-de-Ville                          71  ...              71
Louvre                                  96  ...              96
Luxembourg                              40  ...              40
Ménilmontant                             6  ...               6
Observatoire                             3  ...               3
Opéra                                   23  ...              23
Palais-Bourbon                          41  ...              41
Panthéon                                 2  ...               2
Passy                                    2  ...               2
Popincourt                              61  ...              61
Reuilly                                  2  ...               2
Temple                                  26  ...              26
Vaugirard                               27  ...              27
Élysée                                  88  ...              88

[20 rows x 6 columns]

## How many unique clothing store categories can be curated from all the returned venues?

In [110]:
print('There are {} uniques categories.'.format(len(paris_venues['Venue Category'].unique())))

There are 21 uniques categories.

# Analyze each neighbordhood

In [111]:
# one hot encoding
paris_onehot = pd.get_dummies(paris_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
paris_onehot['Neighborhood'] = paris_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [paris_onehot.columns[-1]] + list(paris_onehot.columns[:-1])
paris_onehot = paris_onehot[fixed_columns]

paris_onehot.head()

  Neighborhood  Accessories Store  ...  Tailor Shop  Women's Store
0       Louvre                  0  ...            0              0
1       Louvre                  0  ...            0              0
2       Louvre                  0  ...            0              0
3       Louvre                  0  ...            0              0
4       Louvre                  0  ...            0              1

[5 rows x 22 columns]

## examine the new dataframe size

In [112]:
paris_onehot.shape

(614, 22)

## Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [113]:
paris_grouped = paris_onehot.groupby('Neighborhood').mean().reset_index()
paris_grouped

           Neighborhood  Accessories Store  ...  Tailor Shop  Women's Store
0   Batignolles-Monceau           0.000000  ...     0.045455       0.227273
1                Bourse           0.018868  ...     0.018868       0.188679
2      Butte-Montmartre           0.000000  ...     0.000000       0.000000
3       Buttes-Chaumont           0.000000  ...     0.000000       0.000000
4              Entrepôt           0.076923  ...     0.000000       0.307692
5              Gobelins           0.000000  ...     0.000000       0.031250
6        Hôtel-de-Ville           0.014085  ...     0.000000       0.070423
7                Louvre           0.031250  ...     0.010417       0.093750
8            Luxembourg           0.025000  ...     0.000000       0.125000
9          Ménilmontant           0.000000  ...     0.000000       0.000000
10         Observatoire           0.333333  ...     0.000000       0.666667
11                Opéra           0.000000  ...     0.043478       0.130435
12       Palais-Bourbon           0.073171  ...     0.000000       0.121951
13             Panthéon           0.000000  ...     0.000000       0.000000
14                Passy           0.000000  ...     0.000000       0.000000
15           Popincourt           0.000000  ...     0.000000       0.131148
16              Reuilly           0.000000  ...     0.000000       0.000000
17               Temple           0.000000  ...     0.000000       0.076923
18            Vaugirard           0.000000  ...     0.000000       0.111111
19               Élysée           0.113636  ...     0.011364       0.113636

[20 rows x 22 columns]

## Let's confirm the new size

In [114]:
paris_grouped.shape

(20, 22)

## Let's print each neighborhood along with the top 5 most common venues

In [115]:
num_top_venues = 5

for hood in paris_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = paris_grouped[paris_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Batignolles-Monceau----
                 venue  freq
0       Clothing Store  0.27
1        Women's Store  0.23
2             Boutique  0.14
3  Arts & Crafts Store  0.09
4          Men's Store  0.09


----Bourse----
            venue  freq
0  Clothing Store  0.32
1   Women's Store  0.19
2        Boutique  0.13
3      Shoe Store  0.11
4     Men's Store  0.11


----Butte-Montmartre----
               venue  freq
0       Optical Shop   0.5
1         Kids Store   0.5
2  Accessories Store   0.0
3      Luggage Store   0.0
4        Tailor Shop   0.0


----Buttes-Chaumont----
                           venue  freq
0                 Clothing Store  0.50
1  Paper / Office Supplies Store  0.25
2                     Kids Store  0.25
3              Accessories Store  0.00
4                    Men's Store  0.00


----Entrepôt----
               venue  freq
0      Women's Store  0.31
1     Clothing Store  0.31
2           Boutique  0.15
3        Men's Store  0.15
4  Accessories Store  0.08


----Gobelins----
            venue  freq
0  Clothing Store  0.25
1      Shoe Store  0.19
2      Kids Store  0.16
3     Men's Store  0.16
4  Lingerie Store  0.09


----Hôtel-de-Ville----
            venue  freq
0  Clothing Store  0.35
1      Shoe Store  0.18
2        Boutique  0.14
3     Men's Store  0.13
4   Women's Store  0.07


----Louvre----
            venue  freq
0  Clothing Store  0.31
1      Shoe Store  0.22
2   Women's Store  0.09
3     Men's Store  0.09
4  Lingerie Store  0.07


----Luxembourg----
            venue  freq
0  Clothing Store  0.32
1     Men's Store  0.22
2   Women's Store  0.12
3      Shoe Store  0.12
4        Boutique  0.05


----Ménilmontant----
               venue  freq
0     Clothing Store  0.83
1         Shoe Store  0.17
2  Accessories Store  0.00
3      Luggage Store  0.00
4        Tailor Shop  0.00


----Observatoire----
                 venue  freq
0        Women's Store  0.67
1    Accessories Store  0.33
2  Arts & Crafts Store  0.00
3          Men's Store  0.00
4          Tailor Shop  0.00


----Opéra----
            venue  freq
0        Boutique  0.22
1     Men's Store  0.17
2      Shoe Store  0.17
3   Women's Store  0.13
4  Clothing Store  0.13


----Palais-Bourbon----
               venue  freq
0     Clothing Store  0.39
1           Boutique  0.17
2      Women's Store  0.12
3        Men's Store  0.12
4  Accessories Store  0.07


----Panthéon----
               venue  freq
0         Shoe Store   0.5
1        Men's Store   0.5
2  Accessories Store   0.0
3      Luggage Store   0.0
4        Tailor Shop   0.0


----Passy----
               venue  freq
0         Shoe Store   0.5
1         Kids Store   0.5
2  Accessories Store   0.0
3      Luggage Store   0.0
4        Tailor Shop   0.0


----Popincourt----
            venue  freq
0  Clothing Store  0.33
1        Boutique  0.18
2   Women's Store  0.13
3      Shoe Store  0.11
4     Men's Store  0.10


----Reuilly----
               venue  freq
0     Clothing Store   0.5
1        Men's Store   0.5
2  Accessories Store   0.0
3      Luggage Store   0.0
4        Tailor Shop   0.0


----Temple----
            venue  freq
0  Clothing Store  0.35
1     Men's Store  0.19
2      Shoe Store  0.15
3   Women's Store  0.08
4        Boutique  0.08


----Vaugirard----
            venue  freq
0  Clothing Store  0.37
1  Lingerie Store  0.22
2     Men's Store  0.11
3   Women's Store  0.11
4      Kids Store  0.07


----Élysée----
               venue  freq
0     Clothing Store  0.28
1  Accessories Store  0.11
2           Boutique  0.11
3         Shoe Store  0.11
4      Women's Store  0.11

## Let's put that into a *pandas* dataframe with top 10 venues for each neighborhood

In [0]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [119]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = paris_grouped['Neighborhood']

for ind in np.arange(paris_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(paris_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

           Neighborhood  ...  10th Most Common Venue
0   Batignolles-Monceau  ...      Miscellaneous Shop
1                Bourse  ...      Miscellaneous Shop
2      Butte-Montmartre  ...  Furniture / Home Store
3       Buttes-Chaumont  ...  Furniture / Home Store
4              Entrepôt  ...           Luggage Store
5              Gobelins  ...      Miscellaneous Shop
6        Hôtel-de-Ville  ...          Adult Boutique
7                Louvre  ...             Tailor Shop
8            Luxembourg  ...            Perfume Shop
9          Ménilmontant  ...  Furniture / Home Store
10         Observatoire  ...        Department Store
11                Opéra  ...          Adult Boutique
12       Palais-Bourbon  ...            Optical Shop
13             Panthéon  ...        Department Store
14                Passy  ...  Furniture / Home Store
15           Popincourt  ...      Miscellaneous Shop
16              Reuilly  ...  Furniture / Home Store
17               Temple  ...          Adult Boutique
18            Vaugirard  ...        Department Store
19               Élysée  ...     Sporting Goods Shop

[20 rows x 11 columns]

# 4. Cluster neighborhoods into 5 clusters

Run *k*-means to cluster the neighborhood into 5 clusters.

In [120]:
# set number of clusters
kclusters = 5

paris_grouped_clustering = paris_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(paris_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 2, 0, 0, 0, 0, 0, 0, 3], dtype=int32)

Let's create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.

In [121]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

paris_merged = df

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
paris_merged = paris_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

paris_merged.head() # check the last columns!

     Neighborhood  ... 10th Most Common Venue
0          Louvre  ...            Tailor Shop
1          Bourse  ...     Miscellaneous Shop
2          Temple  ...         Adult Boutique
3  Hôtel-de-Ville  ...         Adult Boutique
4        Panthéon  ...       Department Store

[5 rows x 19 columns]

## Finally, let's visualize the resulting clusters

In [122]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=13)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(paris_merged['latitude'], paris_merged['longitude'], paris_merged['Neighborhood'], paris_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# 5. Examine clusters

## Cluster 1: this cluster would generally the best choice for Fashion retailers to open a store in Paris

In [128]:
paris_merged.loc[paris_merged['Cluster Labels'] == 0, paris_merged.columns[[1] + list(range(5, paris_merged.shape[1]))]]

                                           Area (km2)  ...  10th Most Common Venue
0                             1.826 km2 (0.705 sq mi)  ...             Tailor Shop
1                             0.992 km2 (0.383 sq mi)  ...      Miscellaneous Shop
2                             1.171 km2 (0.452 sq mi)  ...          Adult Boutique
3                             1.601 km2 (0.618 sq mi)  ...          Adult Boutique
5                             2.154 km2 (0.832 sq mi)  ...            Perfume Shop
6                             4.088 km2 (1.578 sq mi)  ...            Optical Shop
7                             3.881 km2 (1.498 sq mi)  ...     Sporting Goods Shop
8                             2.179 km2 (0.841 sq mi)  ...          Adult Boutique
9                             2.892 km2 (1.117 sq mi)  ...           Luggage Store
10                            3.666 km2 (1.415 sq mi)  ...      Miscellaneous Shop
11  16.324 km2 (6.303 sq mi)¹6.377 km2 (2.462 sq mi)²  ...  Furniture / Home Store
12                            7.146 km2 (2.759 sq mi)  ...      Miscellaneous Shop
14                            8.502 km2 (3.283 sq mi)  ...        Department Store
16                            5.669 km2 (2.189 sq mi)  ...      Miscellaneous Shop
18                            6.786 km2 (2.620 sq mi)  ...  Furniture / Home Store

[15 rows x 15 columns]

## Cluster 2: this cluster would be great for opening a shoe store

In [130]:
paris_merged.loc[paris_merged['Cluster Labels'] == 1, paris_merged.columns[[1] + list(range(5, paris_merged.shape[1]))]]

                                           Area (km2)  ...  10th Most Common Venue
4                             2.541 km2 (0.981 sq mi)  ...        Department Store
15  16.305 km2 (6.295 sq mi)³7.846 km2 (3.029 sq mi)4  ...  Furniture / Home Store

[2 rows x 15 columns]

## Cluster 3: we can see that this cluster would be great to open clothing stores for kids

In [131]:
paris_merged.loc[paris_merged['Cluster Labels'] == 2, paris_merged.columns[[1] + list(range(5, paris_merged.shape[1]))]]

                 Area (km2)  ...  10th Most Common Venue
17  6.005 km2 (2.319 sq mi)  ...  Furniture / Home Store

[1 rows x 15 columns]

## Cluster 4

In [132]:
paris_merged.loc[paris_merged['Cluster Labels'] == 3, paris_merged.columns[[1] + list(range(5, paris_merged.shape[1]))]]

                 Area (km2)  ...  10th Most Common Venue
19  5.984 km2 (2.310 sq mi)  ...  Furniture / Home Store

[1 rows x 15 columns]

## Cluster 5

In [133]:
paris_merged.loc[paris_merged['Cluster Labels'] == 4, paris_merged.columns[[1] + list(range(5, paris_merged.shape[1]))]]

                 Area (km2)  ...  10th Most Common Venue
13  5.621 km2 (2.170 sq mi)  ...        Department Store

[1 rows x 15 columns]